/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.anchor {
    text-decoration: underline;
    color: #0707ef;
}



/* COMMONS */
.flex {
    display: flex;
}

/* HEADER */
.nav-header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}
/* RIGHT NAVIGATION */
.right-nav {
    width: 40%;
    align-items: center;
}

.right-nav li {
    font-size: .9rem;
    padding-left: 20px;
}

.plan-list {
    align-items: center;
    justify-content: space-evenly;
    padding-left: 20px;
}

.right-nav .plan-list a {
    line-height: 70px;
    transition: all;
}

.right-nav a:hover {
    border-bottom: 2px solid black;
}

.left-nav a:hover {
    border-bottom: 2px solid black;
}

/* LEFT NAVIGATION */
.left-nav {
    width: 40%;
    justify-content: flex-end;
}

.left-nav li {
    font-size: .9rem;
    padding-right: 20px;
}
.left-nav li:last-child {
    background-color: #0161ff;
    padding: 9px;
    line-height: 10px ;
    color: white;
}
/* JUMBOTRON SECTION */
.jumbotron {
    background-color: #b4d0e7;
    padding-top: 80px;
    height: 700px;
}

.jumbo-title {
    width: 60%;
    margin: 40px auto 0;
}
.jumbo-title h1 {
    font-weight: 800;
    font-size: 4rem;
}

.jumbo-nav {
    width: 70%;
    margin: 30px auto;

}

.small-jumbo {
    width: 30%;
    margin: 20px auto;
}
.small-jumbo p {
    font-size: 0.9rem;
}

.try {
    margin: 30px auto;
}

.try a{
    background-color: #0161ff;
    padding: 7px;
    color: white;
}

.cancel {
    margin-bottom: 40px;
}

.small-jumbo i {
    font-size: 2.5rem;
}

.large-jumbo {
    width: 70%;
}
/* MAIN */

/* FIRST SECTION */
.plane {
    width: 60%;
    margin: 9rem auto;

}

.plane-choise {
    margin: 0 auto;
    width: 100%;
}

.main-title {
    font-size: 2.3rem;
    padding-bottom: 30px;
}

.invoice li:last-child{
    margin-left: 20px;
}
/* ABBONAMENTO */
.cost {
    gap: 10px;
}
.plane-cost {
    margin: 20px 10px;
    padding: 10px 0;
    width: calc(100% / 3);
    border: 1px solid lightgray;
}

.single {
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.cards {
    padding: 1.5rem 1rem;
}

.card {
    margin: 20px 0;
}
.month {
    color: grey;
}
.cards .try {
    text-align: center;
    margin: 4rem 0;
}

li i {
    padding-top: 4px;
    margin-right: 7px;
}

.line {
    width: 80px;
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
}
.sub-title {
    font-size: 1rem;
}

.cards li {
    margin: 10px 0;
}

.check i {
    color: #0161ff;
}
.enterprise {
    width: 100%;
    margin: 20px auto;
    padding: 30px 0;
    border: 1px solid lightgrey;
}
.large-jumbo .price {
    margin-bottom: 20px;
}
.enterprise .jumbo-nav {
    width: 95%;
    position: relative;
}

.enterprise .small-jumbo .try a{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 16px;
}

/* SECOND SECTION */

.partner {
    margin: 50px auto;
    width: 60%;
}

.large-col {
    width: 60%;
}

.small-col {
    width: 40%;
    padding: 30px;
}

.small-col h3 {
    margin: 30px auto;
}

.small-col p {
    margin: 30px auto;
}

.small-col .try a{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}

/* THIRD SECTION */

.operation {
    width: 60%;
    margin: 60px auto;
}
.title-operation {
    width: 100%;
    margin-bottom: 40px;
}

.title-operation h2 {
    font-size: 2rem;
    text-align: center;
}


.col-operation {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}

.col {
    width: calc(100% / 3 - 10px);
}

.col img {
    width: 100%;
    margin: auto 0;
}

.col-title {
    margin-bottom: 20px;
}

/* FOURTH SECTION */

.team {
    width: 60%;
    margin: 70px auto;
}

.large-col .col-title {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.clients{
    width: 100%;
    margin: 0 auto;
}

.column {
    width: calc(100% / 3);
    flex-wrap: wrap;
}
.column .img-col {
    width: 50%;
    padding: 50px;
    
}

.central {
    background-color: #f5f5f5;
    padding: 30px;
}

/* BACKGROUD COLOR CLIENTS */
.bc1 {
    background-color: #62092b;
}

.bc2 {
    background-color: #a2d39b;
}

.bc3 {
    background-color: #ffd830;
}

.bc4 {
    background-color: #b4d0e7;
}

.bc5 {
    background-color: #0d2481;
}

.bc6 {
    background-color: #ff1b1c;
}

.bc7 {
    background-color: #0093ce;
}

.bc8 {
    background-color: #d50020;
}

.filter {
    filter: invert(100);
}

.designit {
    width: 50%;
}

.cta {
    width: 100%;
    margin: 0 auto;
    /* DEBUG */
    height: 250px;
    background-color: #b4d0e7;
}
.cta .large-col {
    width: 50%;
    text-align: center;
    line-height: 250px;
}
.large-col h2 {
    color: #62092b;
    font-size: 2rem;
}
.cta .small-col-2 {
    width: 40%;
    text-align: center;
    line-height: 250px;
}

.try-2 a{
    background-color: #0161ff;
    padding: 7px;
    color: white;
}

/* FIFTH SECTION */

.question {
    width: 60%;
    margin: 50px auto;
    /* DEBUG */
    height: 400px;
    background-color: grey;
    border: 2px solid red;
}
.question h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.questions {
    width: 100%;
    /* DEBUG */ 
    height: calc(100% / 3 - 20px);
    background-color: violet;
    border: 2px solid red;
}

/* FOOTER */
.footer-top {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    color: white;
    /* DEBUG */
    height: 350px;
}

.menu-column {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: space-between;
    /* DEBUG */
    background-color: rgb(9, 242, 199);
}

.menu {
    width: calc(100% / 6);
    /* DEBUG */
    border: 2px solid red;
    height: 300px;
}

/* FOOTER BOTTOM */
.footer-bottom {
    width: 100%;
    background-color: black;
    /* DEBUG */
    height: 80px;
}

.footer-language {
    width: 70%;
    margin: 0 auto;
    /* DEBUG */
    background-color: lightcoral;
    height: 80px;
}
